 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google font  */
       
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Shared style  */
.section-title{
    font-size: 3.125rem;
    font-weight: bold;
    color: #000000;
}
.section-content{
    text-align: center;
}
.section-title span{
    color: #E95A08;
}
.section-sub-title{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);

}

.text-center{
    text-align: center;
}





/* header style */
header {
    max-width: 1140px;
    margin: 0 auto;
}

/* main style */
main {
    max-width: 1140px;
    margin: 0 auto;
}
/* section style  */
section{
    margin-top: 120px;
}

/* menu style  */
.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    align-items: center;

}

.nav-items {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-left: 45px;
}

.item-link {
    text-decoration: none;
    font-weight: bold;
    color: #252432;
}

.link-color {
    color: #8987A1;
}

.item-link:hover {
    color: #252432;

}

/* banner section style  */
.banner{
    display: flex;
    margin-top: 120px;
    
}
.banner-content{
    max-width: 570px;
    align-content: end;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: #000000;
}
.banner-title span{
    color: #E95A08;
}
.banner-sub-title{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}
.banner-img img{
    width: 100%;
}

/* our plant and card section */
.plant-card-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 50px;
}
.plant-card{
    text-align: center;

}
.card-image{
    width: 100%;
}
.card-title{
    font-size: 1.375rem;
    font-weight: 500;
    color: #111111;
    margin-top: 30px;
}
.card-price{
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;

}
.cart-btn{
    width: 100%;
    padding: 20px 0;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #E95A08;
    border: none;
}

/* flower and plant lover style */
.plant-lover-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 80px;
}
.trusted-badge{
    max-width: 286px;
    position: absolute;
    left: 347px;
    top: -45px;
}
.plant-lover-image img{
    width: 100%;
    
}
.plant-lover-content ul li{
    list-style-position: inside;
    margin-top: 20px;
}
.plant-lover-content{
  max-width: 530px;
}
/* discount plant section style  */
.discount-plant{
    display: flex;
    text-align: center;
    gap: 28px;
}
.discount-plant img{
    width: 100%;
    height: 100%;
    border-radius: 14px;
    
}
.small-card{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}
.bloom{
    position: relative;
    
}
.overlay-bloom{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 14px;
}
.off-60, .off-30{
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
}
.ana{
    position: relative;
}
.overlay-ana{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 14px;
}
.zabo{
    position: relative;
    
}
.overlay-zabo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 14px;
}
.off-25{
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFFFFF;
}
.shop-now{
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
/* media query for small device  */
@media screen and (max-width:574px) {
    .small-device-hide{
        display: none;
    }
    .menu{
        margin-left: 16px;
        margin-right: 16px;
    }
    .banner{
       flex-direction: column-reverse;
       margin-top: 28px;
       
        
    }
    .banner-content{
        margin-top: 28px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .banner-title{
        font-size: 1.5rem;
    }
    
    .banner-sub-title{
        font-size: 0.875rem;
    }

    .section-title{
        font-size: 1.5rem;
    }
    .section-sub-title{
        font-size: 0.875rem;
        margin: 16px  28px 0 28px;

    }
    .plant-card-content{
    grid-template-columns: repeat(2,1fr);
    margin:0 16px ;
    margin-top: 28px;
    }
    .plant-card{
        max-width: 171px;
    }
    .card-title{
    font-size: 1rem;
    }
    .card-price{
    font-size: 1rem;
    }
    .cart-btn{
        font-size: 1rem;
        padding: 20px 0;
    }
    .plant-lover-container{
        flex-direction: column;
        padding: 0 16px;
    }
    .plant-lover-content{
        margin-top: 18px;
    }
    .discount-plant{
    display: grid;
    grid-template-columns: 1fr; 
    margin-left: 16px;
    margin-right: 16px;
    }
    .off-25{
        font-size: 1.25rem;
    }
}